<b>🤖 RTSU.Students bot — бот для анализа успеваемости Российско-Таджикского (Славянского) университета.</b>

Бот призван помочь студентам РТСУ в просмотре своей успеваемости.

Так как в РТСУ не разработали приложение под iOS, наблюдать за успеваемостью невозможно если вы используете iPhone.
Бот решает данную проблему не только для пользователей iPhone, но и для всех остальных пользователей.

Бот работает везде где работает Telegram ❤️

‼️ <b>Важно</b>, Проект основан исключительно на энтузиазме и в первую очередь предназначен для моего личного использования.

Автор хостит чат-бота на своём сервере (расположен в г.Санкт-Петербург), собственно оплата за серверные мощности также происходит со стороны автора.

Если желаете помочь с оплатой хостинга, напишите мне ЛС.

ℹ️
<b>
Версия — 1.0
Кодовое название — Komaru
<a href="https://github.com/ilyas-kalandar/RtsuStudentsBot">Исходный код проекта тут</a>
</b>

<b><em>🛠❤️ Разработчик — @Awaitable</em></b>

<em>Также, если Вы абонент МегаФон — можете воспользоваться другим моим ботом @megafon_dono_bot</em>

<em>РТСУ, Естественнонаучный факультет, Прикладная Информатика 1 «A»</em>