ℹ️ Для использования бота, сначала необходимо авторизоваться, после авторизации, Вам будут доступны всего его функции.

<b>Возможности бота</b>

<b><em>
1. 📊 Просмотр общей статистики

2. 📕 Просмотр успеваемости по конкретной дисциплине

3. 👨‍🎓 Просмотр профиля РТСУ
</em></b>


‼️ <b>Важно</b>, я использую TTL-caching для кеширования запросов, что это значит для простого пользователя?

Сервера РТСУ часто падают, собственно при их падении - в приложение RTSU.Students зайти нельзя.
Однако, в бота зайти и посмотреть свою успеваемость - <b>можно</b>, но, результаты будут старыми.