👋 Привет, <b>{{telegram_user.full_name}}!</b>

Добро пожаловать в <b>RTSU.Students Bot!</b>

⚙️ <b>Ваш Telegram ID — <code>{{telegram_user.id}}</code></b>
⚙️ <b>Ваш ID в RTSU.Students Bot — <code>{{user.id}}</code></b>

{% if not user.is_authorized %}
⚠️ Вы <b>не авторизованы</b>, для последующего использования, Вам <b>необходима</b> авторизация!

<b><em>Пройдите её, используя кнопку ниже.</em></b>
{% else %}
<b>✅ {{user.full_name}}, Вы авторизованы! Используйте клавиатуру ниже для доступа к функционалу.</b>
{% endif %}

<b><em>🛠❤️ Разработано — @Awaitable (@whoisawtbl)</em></b>
